<h2>
  Registrierung
</h2>

<form #f="ngForm" (ngSubmit)="onSubmit()">
  <label for="name">Name: </label>
  <input type="text" id="name" name="name" [(ngModel)] = "user.name">
  <br><br>

  <label>
    <input type="radio" name="gender" [(ngModel)]="user.gender" value="m">
    Männlich
  </label>

  <label>
    <input type="radio" name="gender" [(ngModel)]="user.gender" value="f">
    Weiblich
  </label>
  <br><br>

  <label for="city">Stadt: </label>
  <select id="city" name="city" [(ngModel)]="user.city" required>
    <option value="" selected></option>
    <option value="N">Nürnberg</option>
    <option value="GM">Gummersbach</option>
    <option value="E">Essen</option>
    <option value="HK">Hongkong</option>
    <option value="Uni">Regenbogenland</option>
  </select>
  <br><br>

  <input type="checkbox" id="newsletter" name="newsletter" [(ngModel)]="user.newsletter">
  <label for="newsletter">
    Newsletter abonieren!
  </label>
  <br>

  <label>
    <input type="checkbox" id="agb" name="agb" [(ngModel)]="agb" required>
    AGB gelesen
  </label>
  <br><br>

  <button type="submit">Registrieren</button>
</form>

For 2-way-binding: Testing Purpose <br>
Name: {{user.name}} Geschlecht: {{user.gender}} Stadt: {{user.city}} Newsletter: {{user.newsletter}} <br>
<br>
Form valid: {{f.valid}}
